/*display*/
.display-xlg{font-size:46px;font-weight:700;color:var(--color-text-100);}
.display-lg{font-size:40px;font-weight:700;color:var(--color-text-100);}
.display-md{font-size:36px;font-weight:700;color:var(--color-text-100);}
.display-sm{font-size:34px;font-weight:700;color:var(--color-text-100);}
.display-xsm{font-size:32px;font-weight:700;color:var(--color-text-100);}

/*heading*/
.h-xlg{font-size:30px;font-weight:700;color:var(--color-text-100);}
.h-lg{font-size:28px;font-weight:700;color:var(--color-text-100);}
.h-md{font-size:26px;font-weight:600;color:var(--color-text-100);}
.h-sm{font-size:24px;font-weight:600;color:var(--color-text-100);}
.h-xsm{font-size:20px;font-weight:600;color:var(--color-text-100);}

/*body*/
.body-xlg{font-size:18px;font-weight:400;color:var(--color-text-300);}
.body-lg{font-size:16px;font-weight:400;color:var(--color-text-300);}
.body-md{font-size:15px;font-weight:400;color:var(--color-text-300);}
.body-sm{font-size:14px;font-weight:400;color:var(--color-text-300);}
.body-xsm{font-size:13px;font-weight:400;color:var(--color-text-300);}

/*caption*/
.caption-lg{font-size:14px;font-weight:300;color:var(--color-text-900);}
.caption-md{font-size:13px;font-weight:400;color:var(--color-text-600);}
.caption-sm{font-size:12px;font-weight:400;color:var(--color-text-600);}
.caption-xsm{font-size:11px;font-weight:400;color:var(--color-text-600);}